.fondoprincipal{
    background-image: url('/src/assets/main-fondo.jpg'); 
    height: 90%;
}

.alto{
    width: 100%;
    height: 700px;
    overflow: scroll;
}

.card-action{
    align-items: flex-end ;
}

.card-action button{
    margin: 0.4px;
    font-size: 10px;
}
