<div class="total">
  <div class="selects-container">
  <div class="row">
      <form class="col s6 offset-s3" (ngSubmit)="nvousuario()" [formGroup]="miFormulario">
        <div class="card-panel">
        <h1 class="">Inicio de Sesion</h1>
            <div class="input-field">
              <input type="email"  class="form-control" [(ngModel)]="email" name="email" id="email" placeholder="Ingrese Email"  formControlName="nombre-email">
              <label for="email">Correo Electronico</label>
            </div>
            <label *ngIf="!miFormulario.controls['nombre-email'].valid">El Correo no es valido</label>
            <div class="input-field">
              <input type="text" class="form-control" [(ngModel)]="password" name="password" placeholder="Ingrese Contraseña" formControlName="password-email">
              <label>Contraseña</label>
            </div>
            <button class="waves-effect waves-light btn" type="submit" [disabled]="!miFormulario.valid" (click)="prueba()">Ingresar</button>
            <span>{{email}}</span>
        </div>
      </form>
    </div>
  </div>
  </div>